footer {
  position: fixed;
  bottom: 0;
}

.wrapper {
  width: 70vw;
  min-width: 320px;
  height: 80vh;
  min-height: 380px;
  margin: 10vh auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 15% 15% 15% 15% 15%;
}

.calc-display {
  background-color:black;
  grid-row: 1 / 2;
  grid-column: 1 / span 4;
}

.calc-btn {
    box-sizing: border-box;
    border: 2px solid orange;
    font-size: 32px;
    height: 100%;
    width: 25%;
    display: inline-block;
}

#btn-row1 {
  grid-row: 2 / 3;
  grid-column: 1 / span 4;
}

#btn-row2 {
  grid-row: 3 / 4;
  grid-column: 1 / span 4;
}

#btn-row3 {
  grid-row: 4 / 5;
  grid-column: 1 / span 4;
}

#btn-row4 {
  grid-row: 5 / 6;
  grid-column: 1 / span 4;
}

#btn-row5 { 
  grid-row: 6 / 7;
  grid-column: 1 / span 4;
}

#btn-0 {
  width: 50%;
}

#btn-blank {
  display: none;
}
